h1 {
    font-family: arial;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

.one,
.two,
.three {
    font-size: 50px;
    font-family: "Courier New";
    font-style:oblique;
    list-style:none;
}

.one,
.two,
.three {
    border: 5px solid black;
    text-align: right;
    margin-bottom: 8px;
    background-color: hotpink;
}

ul {
    padding-left:0;
}

